/*
Gurumeditation Theme Framework
*/
body {font-family: 'Open Sans', sans-serif;
letter-spacing: 1px;}
a {color:#666}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 2px;
    font-weight: 700;
}
#sidebar {
    margin-top: 80px;
    display: none;
}
header.entry-header {
    position: relative;
    height: 320px;
    overflow: hidden;
}

header.entry-header h1.entry-title{
    position: absolute;
    top: 80px;
    left:0;
    width: 100%;
    text-align: center;
    font-weight: 300;
}

header.entry-header h1.entry-title span{
    display: inline-block;
    background-color: #fff;
    padding: 20px 40px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(120,120,120,0.2);
    margin: 5px;
}
#content {margin-top: 48px;}
nav#site-navigation {
    position: fixed;
    width: 100%;
    z-index: 99;
    left:0;
    top:36px;
}
nav#site-navigation ul{
    background-color: #000;
    text-align: center;
    list-style-type: none;
    width: 100%;
}
nav#site-navigation ul li{
    display: inline-block;
    text-align: center;
    padding: 15px 10px;
    
}

nav#site-navigation ul li a{
    color:#fff;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.owl {background-color: #fff;}
.owl .owl-item .post-thumbnail{
margin: 10px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
text-align: center;
}

#homeblog {
    background: transparent url(img/homeblog.jpg) no-repeat center;
    padding: 80px 0;
    margin: 80px 0;
}
.homeblog-inner {
    background-color: #fff;
    max-width: 720px;
    margin: 2% auto;
    width: 95%;
    position: relative;
    border:3px double #000;
    height: 360px;
}
.blog-entry {
}
.slider-nav {
    position: relative;
    height: 100%;
    z-index: 99;
}
.slider-nav a {
    position: absolute;
    top:50%;
}
#slider-prev {
    left:0
}
#slider-next {
    right:0
}
.slide {
    z-index: 1;
}
.slide {
    display: none;
    background-position: center;
    position:absolute;
    width:66%;
    text-align: center;
    top:0;
    left:17%;
background-color: #fff;
}

.slide:first-child {
    display: block;
}